<div id="form_page">
  <h3>Восстановление пароля</h3>
  <p style="text-align: center">Для восстановления пароля заполните удобный способ восстановленя пароля и нажмите «Выслать пароль»</p>
  <%= form_tag(users_password_send_path) do %>
    <ul>
      <li><span>Телефон:</span>
          <%= text_field_tag :phone %></li>
      <li><span>e-mail</span>
          <%= text_field_tag :email %>
    </ul>
    <%= submit_tag "Выслать пароль", :id => "submit_but" %>
  <% end %>
</div>
