<div class="block_index">
  <h3><a href="home1.html">«AвтоShop»</a></h3>
  <a href="home1.html"><img src="/images/autoshop.jpg"></a>
  <span>Магазин</span>
  <span class="online"></span>
  <span class="podpischikov">56</a>
</div>
<div class="block_index">
  <h3><a href="index.html">Название объекта</a></h3>
  <a href="index.html"><img src="/images/foto_object.jpg"></a>
  <span>Тип бизнеса</span>
<span class="online off"></span>
  <span class="podpischikov">526</span>
</div>
<div class="block_index">
  <h3><a href="index.html">Название объекта</a></h3>
  <a href="index.html"><img src="/images/foto_object.jpg"></a>
  <span>Тип бизнеса</span>
  <span class="online"></span>
  <span class="podpischikov">156</span>
</div>
<div class="block_index">
  <h3><a href="index.html">Название объекта</a></h3>
  <a href="index.html"><img src="/images/foto_object.jpg"></a>
  <span>Тип бизнеса</span>
  <span class="online  off"></span>
  <span class="podpischikov">536</span>
</div>
<div class="block_index">
  <h3><a href="index.html">Название объекта</a></h3>
  <a href="index.html"><img src="/images/foto_object.jpg"></a>
  <span>Тип бизнеса</span>
  <span class="online off"></span>
  <span class="podpischikov">56</span>
</div>
<div class="block_index">
  <h3><a href="index.html">Название объекта</a></h3>
  <a href="index.html"><img src="/images/foto_object.jpg"></a>
  <span>Тип бизнеса</span>
  <span class="online"></span>
  <span class="podpischikov">526</span>
</div>
<div class="block_index">
  <h3><a href="index.html">Название объекта</a></h3>
  <a href="index.html"><img src="/images/foto_object.jpg"></a>
  <span>Тип бизнеса</span>
  <span class="online"></span>
  <span class="podpischikov">546</span>
</div>
<div class="block_index">
  <h3><a href="index.html">Название объекта</a></h3>
  <a href="index.html"><img src="/images/foto_object.jpg"></a>
  <span>Тип бизнеса</span>
  <span class="online"></span>
  <span class="podpischikov">1256</span>
</div>
<div class="block_index">
  <h3><a href="index.html">Название объекта</a></h3>
  <a href="index.html"><img src="/images/foto_object.jpg"></a>
  <span>Тип бизнеса</span>
  <span class="online"></span>
  <span class="podpischikov">56</span>
</div>

