<div id="header">
  <a href="/" id="logo">Бизнес круг— сайт о бизнесе для потребителей.</a>
  <input id="top_search" value="">
  <select>
    <option class="cat1">Магазины</option>
    <option>Одежда, обувь</option>
    <option>Ювелирно-подарочные</option>
    <option>Цветы Канцтовары</option>
    <option>Электро-бензоинструмент</option>
    <option class="cat1">Ремонт</option>
    <option>Уборка</option>
    <option>Фото видео аппаратура</option>
  </select>
  <input type="text" name="city" value="Город">
  <input type="submit" value="Найти">
</div>
